
.body-colorfondo{
    background-color:aquamarine
}

.layout-micentrado {
    margin: auto;
    width: 50%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }

  body{
    padding: 0;
    margin: 0;
    background-color: grey;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
  }
    
  .contenedor{
    display: flex;
    justify-content: right;
    position: relative;
    display: inline-block;
    text-align: center;
  }

  .imagen{
    width: 1000px;
    height: 750;
    margin: auto;
  }

  .imagenmecanico{
    width: 1000px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .texto{
    border: 1px solid black;
    color: orange;
    margin: 100px;
    font-family: Verdana,Arial, Helvetica, sans-serif;
  }

  .img{
    position: relative;
    display: inline-block;
    text-align: center;
  }

  .centrado{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }

  .txtcolor{
    color:#fff;
    font-family:serif;
  }

  .titulo{
    color: white;
    font-family:verdana,Arial, Helvetica, sans-serif;
    bottom: 0;
  }

  .layout{
    font-family: Verdana, arial, Helvetica, sans-serif;
    color: black;
    width: 1000px;
    margin: auto;
  }

  .boton{
    background-color: blue;
    width: 1000px;
  }

  .register{
    color: #fff;
  }

  .register2{
    color: black;
  }

  .footer{
    font-family: verdana,Arial, Helvetica, sans-serif;
    margin-bottom: none;

  }

  .formlogin{
    color: black;
    margin: auto;
    width: 50%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }
